//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
main {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: #ecf0f3;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.box-container {
		position: relative;
		height: 500px;
		width: 500px;
		//background-color: lightblue;

		display: flex;
		justify-content: center;
		align-items: center;

		.box {
			height: 200px;
			width: 200px;
			background-color: #ecf0f3;
			@include flexcenter();

			border-radius: 40px;
			box-shadow: 15px 15px 20px #cbced1, -15px -15px 20px #fff;

			transition-duration: 500ms;

			&:hover {
				box-shadow: none !important;
			}

			.box-2 {
				transition-duration: 500ms;

				&:hover {
					box-shadow: none !important;
				}
			}
		}

		#light-top-left,
		#light-top-right,
		#light-bottom-left,
		#light-bottom-right {
			position: absolute;
			height: 90px;
			width: 90px;
			//background-color: #dfdfdf;
			//background-color: #ecf0f3;
			background-color: #fff;
			@include flexcenter();

			border-radius: 20px;
			//box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);

			img {
				height: 70%;
			}

			&:hover {
				cursor: pointer;
			}
		}

		#light-top-left {
			top: 0;
			left: 0;

			img {
				transform: rotate(90deg);
			}
		}

		#light-top-right {
			top: 0;
			right: 0;

			img {
				transform: rotate(180deg);
			}
		}

		#light-bottom-left {
			bottom: 0;
			left: 0;

			img {
				transform: rotate(0deg);
			}
		}

		#light-bottom-right {
			bottom: 0;
			right: 0;

			img {
				transform: rotate(270deg);
			}
		}
	}

	.settings-container {
		height: 500px;
		width: 500px;
		background-color: #ecf0f3;
		padding: 30px;
		border-radius: 40px;

		box-shadow: 15px 15px 20px #cbced1, -15px -15px 20px #fff;

		form {
			width: fit-content;
			display: grid;
			grid-template-columns: auto 200px;
			row-gap: 20px;
		}
	}
}
